/* @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet"'); */
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet"');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MY STYLES */

/* SETUP STARTS */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* SETUP ENDS */

/* general styles */
html {
    font-size: 62.5%;
}

/* stripping default styles */
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

button {
  background: none;
  border: none;
}

/* wrapper styles */
.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
  min-width: 320px;
}

/* general body styles */
body {
  font-family: 'Cutive Mono', monospace;
  font-size: 1.4rem;
  line-height: 1.6;
  height: 100vh;
}

/* header styles */ 
h1 {
  font-family: 'Cutive Mono', monospace;
  font-weight: 500;
}

.headerPink {
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: #d0b8b3;
  /* justify-content: center; */
}

/* Toggling Colors */
.headerBlue {
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: #c6d3dc;
  /* justify-content: center; */
}


/* nav styles */
.navBar {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.logo p {
  font-size: 40px;
  padding-left: 10px;
}

/* Print Button Styles */
.print {
  font-size: 20px;
  transition: all .2s ease-in-out;
  color: #ffffff;
  cursor: pointer;
}

.print:hover {
  transform: scale(1.3);
}

/* Color Toggle Button Styles */
.toggleColor {
  font-family: 'Cutive Mono', monospace;
  border: 2px solid #e4e5e7; 
  /* background: linear-gradient(0.25turn, #e4b3af, #f0e7de, #d0b8b3); */
  background: linear-gradient(0.25turn, #89a7bf, #e4e5e7, #61809c);
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}


.toggleColor:hover {
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1), 0 15px 20px -10px rgba(0, 0, 0, 0.5);
}
/* Hover effect from https://codepen.io/JonahCrary/pen/yVZGxY */

/* Main Photo Grid Styles */
.mainGrid {
  width: 100%;
  height: 80vh;
  background-color: #e4e5e7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.mainGridBlue {
  width: 100%;
  height: 80vh;
  background-color: #f0e7de;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Photo Box Styles */
.frame {
  padding-top: 20px;
  height: 300px;
  min-height: fit-content;
  width: 30%;
  max-width: 500px;
  /* border: 2px solid black; */
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  /* transform: scale(0.8, 0.8) rotate(5deg); */
  /* transition: all 0.35s; */
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12); */
}

.innerFrame {
  width: 90%;
  height: 100%;
  min-height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.imagePlace {
  height: 80%;
  min-height: fit-content;
  /* background-color: #e4b3af; */
  background-color: #89a7bf;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imagePlace img {
  align-self: flex-start;
}


.frame:hover{
  transform: scale(1, 1) rotate(0deg);
  transition: all 0.40s;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 5px 0;
}

.leftIcons {
  display: flex;
}

.leftIcons i {
  padding-right: 10px;
}

/* INPUT STYLES */
.moodInput {
  /* border: 2px solid black; */
  border-radius: 3px;
  width: 80%;
  border: 2px solid black;
  padding: 7px;
  margin: 0 auto;
  display: block;
  /* display: block; */
}

.moodInput::placeholder {
  font-family: 'Cutive Mono', monospace;
  font-size: 2rem;
}

/* HELPER BUTTON STYLES */
.closeButton, .addButton {
  transition: all .2s ease-in-out;
  color: #FFFFFF;
  opacity: 0.8;
  cursor: pointer;
}

.closeButton:hover, .addButton:hover {
  transform: scale(1.3);
  color: #D3D3D3;
}

.closeButton:hover {
  color: #000;
}

.addButton {
  font-size: 5rem;
}

.closeButton {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 2rem;
}

.randomQuote, .quoteAuthor {
  padding: 10px;
  font-size: 2rem;
}

/* FOOTER STARTS */
.footerPink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #d0b8b3;
  text-align: center;
}


.footerBlue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: #c6d3dc;
  text-align: center;
}

.footerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  display: flex;
  justify-content: space-between;
}

.socialIcons i {
  color: white;
  padding: 10px;
  font-size: 2rem;
  transition: all .2s ease-in-out;
}

.socialIcons i:hover {
  transform: scale(1.5);
}

.footerLogo {
  max-width: 50px; 
}

/* FOOTER ENDS */